@font-face {
  font-family: "BT Beau Sans Light";
  src: url(../../assets/fonts/BT-BeauSans-Light.ttf) format('truetype');
  font-weight: 300;
  font-display: optional;
}

@font-face {
  font-family: "BT Beau Sans Regular";
  src: url(../../assets/fonts/BT-BeauSans-Regular.ttf) format('truetype');
  font-weight: 400;
  font-display: optional;
}

@font-face {
  font-family: "BT Beau Sans Medium";
  src: url(../../assets/fonts/BT-BeauSans-Medium.ttf) format('truetype');
  font-weight: 500;
  font-display: optional;
}

@font-face {
  font-family: "BT Beau Sans Bold";
  src: url(../../assets/fonts/BT-BeauSans-Bold.ttf) format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "BT Beau Sans Extra Bold";
  src: url(../../assets/fonts/BT-BeauSans-ExtraBold.ttf) format('truetype');
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Figtree Italic";
  src: url(../../assets/fonts/Figtree-Italic-VariableFont_wght.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: "Figtree";
  src: url(../../assets/fonts/Figtree-VariableFont_wght.ttf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: "Roboto Mono";
  src: url(../../assets/fonts/RobotoMono-VariableFont_wght.ttf) format('truetype');
  font-display: swap;
}

:root {
  /*Colors*/
  --color-background: #FFFEFA;
  --color-dark: #21322b;
  --color-white: #f6f6f6;
  --color-grey-light: #f3f1f2;
  --color-grey-dark: #949494;
  --color-primary: #02ac84;
  --color-secondary: #02deab;
  --color-ternary: #2abd74;
  /* --color-cta: #ff9f2e;
  --color-cta-hover: #febb84;
  --color-cta-dark: #e0a009; */
  --color-cta: var(--color-ternary);
  --color-cta-hover: var(--color-primary);
  --color-cta-dark: var(--color-secondary);
  --color-stars: #fdd53f;
  --color-purple: #BDB6E2;
  --color-blue-light: #DDEDFD;
  --color-blue-mid: #9AC8F6;
  --color-blue-dark: #77B2F1;
  --color-valid: #88DAB4;
  --color-warning: #FFB266;
  --color-error: #FF5B2E;

  /*Colors HSL For Opacity*/
  --color-background-opacity: 48 100% 99%;
  --color-dark-opacity: 155 20% 16%;
  --color-white-opacity: 0 0% 96%;
  --color-grey-light-opacity: 330 8% 95%;
  --color-grey-dark-opacity: 0 0% 58%;
  --color-primary-opacity: 166 98% 34%;
  --color-secondary-opacity: 166 98% 44%;
  --color-ternary-opacity: 150 64% 45%;
  --color-cta-opacity: 32 100% 59%;
  --color-cta-hover-opacity: 27 98% 76%;
  --color-cta-dark-opacity: 42 92% 46%;
  --color-stars-opacity: 47 98% 62%;
  --color-purple-opacity: 250 43% 80%;
  --color-blue-light-opacity: 210 89% 93%;
  --color-blue-mid-opacity: 210 84% 78%;
  --color-blue-dark-opacity: 211 81% 71%;
  --color-valid-opacity: 152 53% 69%;
  --color-warning-opacity: 30 100% 70%;
  --color-error-opacity: 13 100% 59%;

  /*Fonts*/
  --font-family-light: BT Beau Sans Light, system-ui, sans-serif;
  --font-family-regular: BT Beau Sans Regular, system-ui, sans-serif;
  --font-family-medium: BT Beau Sans Medium, system-ui, sans-serif;
  --font-family-bold: BT Beau Sans Bold, system-ui, sans-serif;
  --font-family-extra-bold: BT Beau Sans Extra Bold, system-ui, sans-serif;
  --font-family-variable: Figtree, system-ui, sans-serif;
  --font-family-variable-italic: Figtree Italic, system-ui, sans-serif;
  --font-family-monospace: Roboto Mono, monospace;
  --font-size-base: 16px;
  --font-size-small: .833rem;
  --font-size-default: 1rem;
  --font-size-menu-links: .923rem;
  --font-size-text: 1rem;
  --font-size-links: .923rem;
  --font-size-subtitle: 1.307rem;
  --font-size-important: 1.154rem;
  --font-size-btn-icons: 1.08rem;
  --font-size-text-hero: 1.384rem;
  --font-size-title-hero: 1.692rem;
  --font-size-title-h1: 2.13rem;
  --font-size-title-h2: 1.692rem;
  --font-size-title-h3: 1.538rem;
  --font-size-title-h4: 1.5rem;
  --font-size-title-h5: 1.461rem;
  --font-size-title-h6: 1.423rem;
  --font-weight-bolder: 900;
  --font-weight-bold: 700;
  --font-weight-medium: 600;
  --font-weight-regular: 500;
  --font-weight-small: 400;

  /*
    Line height
  */
  --line-height-small: 1;
  --line-height-regular: 1.15;
  --line-height-medium: 1.3;
  --line-height-big: 1.5;
  --line-height-bigger: 1.75;

  /*Border radius*/
  --border-radius: 1rem;
  --border-radius-squircle: 1.3rem;
  --border-radius-cta: 1.33rem;
  --border-radius-big: 1.85rem;
  --border-radius-round: 999rem;

  /*
    Text-shadow
  */
  --text-shadow: 0 .05rem .05rem var(--color-dark);

  /*
    Box-shadow
  */
  --box-shadow:
    .2rem .2rem .2rem -.1rem hsla(var(--color-dark-opacity) / .45),
    -.2rem .2rem .2rem -.1rem hsla(var(--color-dark-opacity) / .45);
  --box-shadow-hover:
    .1rem .1rem .1rem -.05rem hsla(var(--color-dark-opacity) / .45),
    -.1rem .1rem .1rem -.05rem hsla(var(--color-dark-opacity) / .45);
  --box-shadow-container:
    .2rem -.2rem .2rem -.1rem hsla(var(--color-dark-opacity) / .45),
    -.2rem -.2rem .2rem -.1rem hsla(var(--color-dark-opacity) / .45),
    .2rem .2rem .2rem -.1rem hsla(var(--color-dark-opacity) / .45),
    -.2rem .2rem .2rem -.1rem hsla(var(--color-dark-opacity) / .45);
  --box-shadow-container-hover:
    .1rem -.1rem .1rem -.05rem hsla(var(--color-dark-opacity) / .45),
    -.1rem -.1rem .1rem -.05rem hsla(var(--color-dark-opacity) / .45),
    .1rem .1rem .1rem -.05rem hsla(var(--color-dark-opacity) / .45),
    -.1rem .1rem .1rem -.05rem hsla(var(--color-dark-opacity) / .45);
  --box-shadow-main-nav:
    0 0 0 999rem hsla(var(--color-grey-dark-opacity) / .45);
  --box-shadow-main-nav-light:
    0 0 2.4rem -.4rem hsla(var(--color-grey-dark-opacity) / .45);

  /*
      Padding
    */
  --padding: .4rem;
  --padding-null: 0;
  --padding-small: calc(var(--padding) / 2);
  --padding-regular: var(--padding);
  --padding-big: calc(var(--padding) * 2);
  --padding-bigger: calc(var(--padding) * 4);
  --padding-xl: calc(var(--padding) * 6);
  --padding-xxl: calc(var(--padding) * 8);
  --padding-xxxl: calc(var(--padding) * 12);

  /*
    Icons
  */
  --icon-size-small: 1.333rem;
  --icon-size-regular: 2rem;
  --icon-size-big: 2.666rem;
  --icon-size-bigger: 4rem;

  /*
    Width
  */
  --width-full: 100%;

  /*
    Height
  */
  --height-main-head: 5rem;

  /*
      Media queries [do not work in media query condition, just notice]
    */
  --media-xl: calc(1920px - 1.2rem);
  --media-large: calc(1280px - 1.2rem);
  --media-medium: calc(980px - 1.2rem);
  --media-small: calc(760px - 1.2rem);

}

*,
*::before,
*::after {
  max-width: 100%;
  box-sizing: border-box;
  font-family: var(--font-family-regular);
  text-wrap:balance;
  --webkit-text-wrap-ratio:0.6;
  --moz-text-wrap-ratio:0.6;
  --o-text-wrap-ratio:0.6;
  margin: 0;
  padding: var(--padding-null);
}

html,
body {
  font-size: var(--font-size-base);
  margin: 0;
  padding: var(--padding-null);
}

body {
  max-width: 1920px;
  background-color: var(--color-background);
  color: var(--color-dark);
  font-family: var(--font-family-light);
  line-height: var(--line-height-regular);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height-big);
  font-family: var(--font-family-bold);
  color: var(--color-black);
}

h1 {
  font-size: var(--font-size-title-h1);
  color:var(--color-primary);
}

h2 {
  font-size: var(--font-size-title-h2);
}

h3 {
  font-size: var(--font-size-title-h3);
}

h4 {
  font-size: var(--font-size-title-h4);
}

h5 {
  font-size: var(--font-size-title-h5);
}

h6 {
  font-size: var(--font-size-title-h6);
}

p {
  max-width: calc(100% - var(--padding-bigger));
  font-family: var(--font-family-light);
  font-size: var(--font-size-text);
}

a,
a:visited {
  text-decoration: none;
  color: var(--color-cta);
  font-family:var(--font-family-variable);
  font-size: var(--font-size-links);
  font-weight:var(--font-weight-medium);
  letter-spacing:.035rem;
  transition: background-color .175s ease-out, color .175s ease-out;

  &:is(.main-menu-links, .menu-links) {
    font-size: var(--font-size-menu-links);
  }

  &:is(.cta-links) {
    width:max-content;
    max-width: calc(100% - var(--padding-big));
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-menu-links);
    background-color: var(--color-cta);
    color: var(--color-white);
    padding: var(--padding-regular) var(--padding-big);
    margin-inline: auto 0;
    margin-block: var(--padding-big) var(--padding-regular);
    border: var(--padding-small) solid transparent;
    border-radius: var(--border-radius-cta);

    &:hover {
      background-color: var(--color-cta-hover);
      color: var(--color-white);
    }

    &:active {
      background-color: var(--color-cta-dark);
      color: var(--color-white);
    }
  }

  &:hover {
    color: var(--color-cta-hover);
  }

  &:active {
    transition: color .075s ease-out;
    color: var(--color-cta-dark);
  }
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

ul,
ol{
  padding-inline:var(--padding-bigger);
}

strong,
b,
.important {
  font-size: var(--font-size-important);
  font-weight: var(--font-weight-medium);
}

small,
.small {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-small);
}

.mono {
  font-family: var(--font-family-monospace);
}

.material-symbols-outlined,
.material-symbols-rounded,
.material-symbols-sharp {
  font-variation-settings:
    'FILL' 1,
    'wght' 600,
    'GRAD' 0,
    'opsz' 24;

    &:is(.star){
      color:var(--color-stars);
    }
}

.main-head {
  width: 100%;
  max-height: var(--height-main-head);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--padding-big);
  padding: var(--padding-bigger) var(--padding-big);
  position: relative;
  z-index: 1;
}

.logo-header {
  width: max-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: var(--padding-big);
}

.logo {
  width: var(--icon-size-big);
  height: var(--icon-size-big);
  object-fit: cover;
  object-position: center;
}

.main-head-title {
  color: var(--color-dark);
  font-family: var(--font-family-extra-bold);
}

.nav-btn {
  width: var(--icon-size-big);
  height: var(--icon-size-big);
  font-size: var(--font-size-btn-icons);
  background-color: transparent;
  border: unset;
  border-radius: var(--border-radius-round);
  margin: 0;
  padding: 0;
  overflow: hidden;
  cursor: pointer;
  pointer-events: all;
  transform:scale(1.25);
  position: relative;
  z-index: 3;

  .nav-btn-icon-open,
  .nav-btn-icon-close {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    color: var(--color-primary);
    transition: opacity .075s ease-out;
  }

  .nav-btn-icon-open {
    opacity: 1;
  }

  .nav-btn-icon-close {
    opacity: 0;
  }
}

.main-nav {
  width: max-content;
  max-width: 350px;
  min-height: max-content;
  max-height: 80dvh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: var(--padding-bigger);
  background-color: var(--color-background);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-main-nav-light);
  margin-inline: auto;
  padding: var(--padding-bigger) var(--padding-big);
  position: absolute;
  top: var(--padding-bigger);
  right: calc(var(--icon-size-big) * 1.5);
  overflow-x: hidden;
  overflow-y: auto;
  transition: all .275s cubic-bezier(1, 0, 0, 1);
  opacity:0;
  pointer-events:all;
  z-index: 2;

  .main-menu-links {
    width: 100%;
    min-height: var(--padding-bigger);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: var(--font-size-menu-links);
    font-weight: var(--font-weight-regular);
    letter-spacing: .05rem;
    background-color: var(--color-cta);
    color: var(--color-white);
    padding: var(--padding-regular) var(--padding-big);
    border-radius: var(--border-radius);
    overflow: hidden;
    transition: background-color .175s ease-out, color .175s ease-out, outline .175s ease-out;

    &:hover {
      background-color: var(--color-cta-dark);
      color: var(--color-white);
    }

    &:active {
      background-color: var(--color-cta-hover);
      color: var(--color-white);
    }
  }
}

.main-content {
  width: 100%;
  min-height: calc(100dvh - var(--height-main-head));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--padding-bigger);

  @media (width <=calc(760px + 1.2rem)) {
    align-items: center;
  }
}

.main-sections {
  width:100%;
  max-width: clamp(300px, 100%, 850px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--padding-bigger);
  margin-inline:auto;
  padding: var(--padding-big) var(--padding-bigger);
}

.row-sections {
  max-width: calc(100% - 1.2rem);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--padding-bigger);
  margin-inline:auto;
  padding: var(--padding-big) var(--padding-bigger);

  @media (width <=calc(760px + 1.2rem)) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: var(--padding-xl);
  }
}

.grid-sections {
  width: max-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-auto-rows: auto;
  grid-auto-flow: row dense;
  margin-inline: auto;
  gap: var(--padding-bigger);
  margin-inline:auto;
  padding: var(--padding-big) var(--padding-bigger);

  @media (width <=calc(760px + 1.2rem)) {
    grid-template-columns: 1fr;
  }

  &.grid-sections{
    grid-template-columns: repeat(auto-fit, minmax(40dvw, 1fr));
  }
}

.hero-sections {
  width: 100%;
  min-height: calc(100dvh - var(--height-main-head));
  height: calc(100dvh - var(--height-main-head));
  max-height: calc(100dvh - var(--height-main-head));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: var(--padding-bigger);
  background-color: hsla(var(--color-dark-opacity) / .5);
  padding: var(--padding-bigger) var(--padding-null);
  margin-inline:auto;
  overflow: hidden;
  position: relative;

  .hero-sections-background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: flex;
    filter: grayscale(.4) brightness(.4);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

.hero-articles {
  width: max-content;
  max-width: calc(100% - var(--padding-xl));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--padding-bigger);
  background-color: hsla(var(--color-white-opacity) / .015);
  backdrop-filter: blur(var(--padding-small));
  color: var(--color-white);
  font-size: var(--font-size-text-hero);
  border-radius: var(--border-radius-squircle);
  margin-inline: auto;
  padding: var(--padding-bigger);
  position: relative;
  text-shadow: var(--text-shadow);

  &>* {
    font-size: var(--font-size-text-hero);
  }

  .hero-articles-title {
    color: var(--color-white);
    font-family: var(--font-family-variable);
    font-size: var(--font-size-title-hero);
    font-weight: var(--font-weight-bold);
    text-align:center;
    letter-spacing: .33rem;
  }

  .hero-articles-stats-aside{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-flow: row dense;
    margin-inline: auto;
    gap: var(--padding-big);
    padding: var(--padding-regular) var(--padding-big);
  
    @media (width <=calc(760px + 1.2rem)) {
      grid-template-columns:repeat(2, 1fr);
    }

    .hero-articles-stats {
      display: flex;
      aspect-ratio:1/1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: var(--padding-small);
      text-align: center;
      background-color:hsla(var(--color-white-opacity) / .015);
      backdrop-filter: blur(var(--padding-small));
      border-radius:var(--border-radius);
      margin-inline:auto;
      padding:var(--padding-regular);
  
      .hero-articles-stats-number {
        width: 100%;
        font-family:var(--font-family-bold);
        font-size: var(--font-size-text-hero);
        font-weight:var(--font-weight-bold);
        text-align:center;
      }
  
      .hero-articles-stats-description {
        width: 100%;
        font-family:var(--font-family-light);
        font-size: var(--font-size-small);
        font-weight:var(--font-weight-small);
        text-transform:lowercase;
        text-align:center;
      }
    }
  }

  .hero-articles-background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

.main-articles {
  min-width: clamp(300px, 100%, 650px);
  width: 100%;
  max-width: clamp(300px, 100%, 850px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--padding-big);
  background-color: var(--color-white);
  margin-inline: auto;
  padding: var(--padding-big) var(--padding-bigger);
  border-radius: var(--border-radius);
}

.review-articles{
  width:100%;
  max-width: 80dvw;
  position:relative;

  a.cta-links{
    width:max-content;
    margin-inline:auto 0;
    margin-block:var(--padding-regular) 0;
  }
}

.stars-container{
  width:max-content;
  display:flex;
  justify-content:center;
  align-items:center;
  gap:var(--padding-small);
  padding:var(--padding-regular) var(--padding-null);
}

.main-footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: var(--padding-big);
  padding: var(--padding-big) var(--padding-bigger);
  margin-block:var(--padding-xxxl) 0;
}